<!-- DON'T REMOVE data-angular from html, it is for testing -->
<div class="mt-4" data-angular="address">
  <b>{{ data.street }}</b> {{ data.city }}, {{ data.state }}
  {{ data.pincode }}
</div>
<div class="row mt-2" data-angular="property-details">
  <div class="col d-flex flex-column">
    <b class="big-text">{{ data.price | currency }}</b>
    <div>Price</div>
  </div>
  <div class="col d-flex flex-column">
    <b class="big-text">{{ data.beds }}</b>
    <div>Beds</div>
  </div>
  <div class="col d-flex flex-column">
    <b class="big-text">{{ data.baths }}</b>
    <div>Baths</div>
  </div>
  <div class="col d-flex flex-column">
    <b class="big-text">{{ data.area }}</b>
    <div>Area</div>
  </div>
</div>
<hr />
<p class="my-4">{{ data.description }}</p>
<hr />
<div class="row" data-angular="home-facts">
  <div class="col-3 col-lg-1 pr-0">
    <img
      src="https://ssl.cdn-redfin.com/system_files/images/13580/150x150/gen120x120/1_49.jpg"
      alt="User image"
      class="img-fluid img-thumbnail"
    />
  </div>
  <div class="col-8 col-lg-11 d-flex flex-column justify-content-center">
    Listed by {{ data.listedBy }}
  </div>
  <div class="col-12 my-3 text-center text-lg-left">
    <b>Price Insights</b>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-6">List Price:</div>
    <div class="col-6 text-right p-0">{{ data.price | currency }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-6">Price/Sq.Ft:</div>
    <div class="col-6 text-right p-0">
      {{ data.price / data.area | currency }}
    </div>
  </div>
  <div class="col-12 my-3 text-center text-lg-left">
    <b>Home Facts</b>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-4">Status:</div>
    <div class="col-8 text-right p-0">{{ data.status }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-4">Type:</div>
    <div class="col-8 text-right p-0">{{ data.propertyType }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-6">Year Built:</div>
    <div class="col-6 text-right p-0">{{ data.yearBuilt }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-4">Community:</div>
    <div class="col-8 text-right p-0">{{ data.community }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-4">Style:</div>
    <div class="col-8 text-right p-0">{{ data.style }}</div>
  </div>
  <div class="col-12 col-lg-6 row font-large">
    <div class="col-6">Lot Size:</div>
    <div class="col-6 text-right p-0">{{ data.lotSize }}</div>
  </div>
</div>
