<!-- container  -->
<div class="container">
  <!-- container heading  -->
  <div class="container-heading">
    <br>
    <p class="container-heading-text"><i>Whether you are Buying , Selling or Renting</i></p>
    <p class="container-heading-text"><i>We can help you move forward</i></p>
  </div>


  <!-- card holder  -->
  <div class="card-deck">

    <!-- card 1 -->
      <div class="card-style card">
        <img class="card-img-top" src="../../assets/icons/buy_house.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Buy a Home</h5>
          <p class="card-text">Find your place with an immensive photo experience and most listing , including things you won't find anywhere else.</p>
          <a href="#" class="card-button btn btn-primary">Search homes</a>
        </div>
      </div>

      <!-- card 2 -->
      <div class="card-style card">
        <img class="card-img-top" src="../../assets/icons/sell-house.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sell a Home</h5>
          <p class="card-text">Whether you get a cash offer through Hash Homes or choose to self traditionally, We can help you navigate a successful sale.</p>
          <a href="#" class="card-button btn btn-primary">See your options</a>
        </div>
      </div>

      <!-- card 3 -->
      <div class="card-style card">
        <img class="card-img-top-size card-img-top" src="../../assets/icons/rent-house.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rent a Home</h5>
          <p class="card-text">We're creating a seamless online experience - from shopping on the target rental network, to applying to paying rent</p>
          <a href="#" class="card-button btn btn-primary">Find Rentals</a>
        </div>
      </div>


  </div>
</div>
