
<div class="container-fluid bg-light " >

  <app-property-search-header></app-property-search-header>

  <div class="container" style="margin-top: 3%;">

   <div class="row">

    <!-- Map Column , Using safe Pipe to overcome maps api error -->
    <div class="col-lg-8 col-md-12 col-sm-12">
      <iframe [src]="src | safe"
              width="100%" height="430" style="border: 0;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>

    <!-- Card to display city detail -->
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card" style="border-radius: 0; border: 0; ">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" data-angular="address">{{data.street}},{{data.city}}, {{data.state}}</h5>
          <p class="card-subtitle mb-2">Price Range: 5Lac to 2Crore</p>
          <p class="card-subtitle mb-2 " data-angular="totalAvailability">Toatal Availability : {{list.length}}</p>
          <p class="card-subtitle mb-2 " data-angular="propertyType">Property Type : {{data.propertyType}}</p>
          <p class="card-text" data-angular="description">{{data.description}}</p>
        </div>
      </div>
    </div>
   </div>

   <div class="row">

    <!-- Using ngfor to display list of properties present -->
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let users of list; let i=index">
      <a class="card3" href="#">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <h5>Price: {{list[0].price | currency:'INR'}}</h5>
        <p class="card-subtitle mb-2 ">{{list[0].street}}, {{list[0].city}}</p>
        <p class="card-subtitle mb-2 ">{{list[0].year}}</p>
        <p class="card-subtitle mb-2 ">{{list[0].owner}}</p>
        <div class="icon">
          <span style="background-image: url(../../assets/icons/bed_black_24dp.svg);">{{list[0].bedroooms}}</span>
          <span style="background-image: url(../../assets/icons/bathtub_black_24dp.svg) ;">{{list[0].bathrooms}}</span>
          <span style="background-image: url(../../assets/icons/square_foot_black_24dp.svg) ;">{{list[0].area}}</span>
        </div>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
      </a>
    </div>

   </div>


  </div>
</div>
