<div>
  <!-- Footer -->
  <br />
  <footer class="page-footer font-small unique-color-dark">
    <div class="footer-heading-container">
      <div class="container-fluid">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="footer-heading mb-0">
              Get connected with us on social networks!
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a class="fb-ic">
              <img src="../../assets/icons/fb.svg" class="footer-social-logo" />
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <img
                src="../../assets/icons/twitter.svg"
                class="footer-social-logo"
              />
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <img
                src="../../assets/icons/google-plus.svg"
                class="footer-social-logo"
              />
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <img
                src="../../assets/icons/linkedin-logo.svg"
                class="footer-social-logo"
              />
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <img
                src="../../assets/icons/instagram.svg"
                class="footer-social-logo"
              />
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Hash Homes</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            Launched in 2021, Hash Homes is India's No.1 online Property
            marketplace to buy, sell, and rent residential and commercial
            properties. Adjudged as the most preferred real estate portal in
            India by various independent surveys.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Country</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <!-- <a href="#!">MDBootstrap</a> -->
            <span>
              <img src="../../assets/icons/india.svg" class="india-logo" />
            </span>
            <span class="india-name">India</span>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <a href="/">About</a>
          </p>
          <p>
            <a href="/">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <span
              ><img
                src="../../assets/icons/home.svg"
                class="footer-social-logo"
            /></span>
            Bangalore, KN 560102, IN
          </p>
          <p>
            <span
              ><img
                src="../../assets/icons/email.svg"
                class="footer-social-logo"
            /></span>
            owner@hashedhomes.com
          </p>
          <p>
            <span
              ><img
                src="../../assets/icons/phone-call.svg"
                class="footer-social-logo"
            /></span>
            090360 16503
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2021 Copyright:
      <a href="https://mdbootstrap.com/"> HashHomes.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
