.footer-social-logo{
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1rem;
}

.footer-heading{
  color: white;
}

.footer-heading-container{
  background-color: #f37820;
}

.india-logo{
  width: 2rem;
  height: 2rem;
}

.india-name{
  margin-left: 1rem;
  font-size: 1.4rem;
}
