
<!-- nav start from here  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- brand name and logo  -->
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/Logo.png"  class="d-inline-block align-top landing-logo-size" alt="">
      <span class="landing-logo-name">Hash Homes</span>
    </a>

    <!-- button to toggle when in mobile screen view  -->
    <button class="toggle-button" (click)="headerOpen = !headerOpen" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span><img src="../../assets/icons/hamburger.svg" class="toggle-button-hamburger"></span>
    </button>

    <!-- menu items -->
    <div class="collapse navbar-collapse" id="navbarText" [ngClass] = "{show:headerOpen}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <!-- login button  -->
      <button type="button" class="login-button btn btn-danger mr-2" routerLink="/auth" *ngIf="!authService.loggedIn">Log in</button>
      <!-- sign up button  -->
      <button type="button" class="signup-button btn btn-outline-danger" routerLink="/auth"  *ngIf="!authService.loggedIn">Sign up</button>
      <!-- logout button-->
      <button type="button" class="login-button btn btn-danger mr-2" *ngIf="authService.loggedIn" (click)="authService.logout()">Log out</button>
    </div>
  </nav>
  <!-- nav bar ends here  -->



<!-- header start from here containing search bar  -->
<header [ngStyle]="{'background-image': 'url('+ getImage() + ')'}">

  <!-- search bar container  -->
  <div class="searchbar-container row m-0">
    <!-- search bar  -->
    <div class="searchbar col-12 col-lg-8 offset-lg-2">

      <!-- form to handle form operations  -->
      <form class="row" [formGroup] = "searchForm" (ngSubmit) = "onSubmit()">

        <!-- text field for city name  -->
        <div class="col-5 col-md-3">
          <!-- <input type="text" class="city-input" placeholder="City" formControlName = "city"> -->
          <select formControlName="state"class="city-input">
            <option value="" disabled>State</option>
            <option *ngFor="let state of getStates()" [value]="state">
              {{state}}
            </option>
          </select>
        </div>

        <div class="col-5 col-md-3">
          <!-- <input type="text" class="city-input" placeholder="State" formControlName = "state"> -->
          <select formControlName="city" class="city-input">
            <option value="" disabled>City</option>
            <option *ngFor="let city of getCities()" [value]="city">{{city}}</option>
          </select>
        </div>

        <!-- select box for property type  -->
        <div class="col-6 d-none d-md-block col-md-2">
          <select  class="city-input property-input" formControlName = "propertytype">
            <option value="" disabled selected>Property type</option>
            <option value="1">Flat</option>
            <option value="2">House/Villa</option>
          </select>
        </div>

        <!-- select box for budget type  -->
        <div class="col-6 d-none d-md-block col-md-2">
          <select  class="city-input budget-input" formControlName = "budget">
            <option value="" disabled selected>Budget</option>
            <option value="1">10000 - 100000</option>
            <option value="2">100000 - 1000000</option>
            <option value="3">1000000 - 10000000</option>
          </select>
        </div>

        <!-- search button  -->
        <div class="col-2 col-md-2 p-0 pr-1">
          <button type="submit" class="search-button btn btn-danger" [disabled]="!searchForm.valid">
            <span>
              <img src= "../../assets/icons/search-icon.svg">
            </span>
            <span class="d-none d-md-inline">Search</span>
          </button>
        </div>

      </form>

    </div>
    <!-- search bar ends -->

  </div>
  <!-- search bar container ends -->
</header>

