<div class="row">
  <div class="col-12 col-lg-8 p-lg-1">
    <img
      src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_3.jpg"
      alt="home image"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-lg-4 p-lg-1">
    <div class="row" style="height: 100%">
      <div class="col-6 col-lg-12 mt-1 mt-lg-0 pr-2 pr-lg-3">
        <img
          src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_6.jpg"
          alt="home image"
          class="img-fluid"
        />
      </div>
      <div class="col-6 col-lg-12 mt-1 pl-2 pl-lg-3">
        <img
          src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_7.jpg"
          alt="home image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
