/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

.dark {
  background-color: #222;
  color: #eee;

  a {
    color: #aaaaaa;
  }

  .card, .card3 {
    background-color: #333 !important;
    border-color: #555 !important;
    transition: background-color 500ms ease-in-out, color 1000ms ease-out;
  }

  .bg-light {
    background-color: #222 !important;
    transition: background-color 500ms ease-in-out, color 1000ms ease-out;
  }

  .navbar {
    background-color: #333;
    border-color: #555 !important;
    transition: background-color 500ms ease-in-out, color 1000ms ease-out;

    input, select, form {
      background-color: #333;
      color: #eee !important;
      border-color: #333 !important;
    }

    .nav-link {
      color: #aaa !important;

      .active {
        color: #eee !important;
      }
    }

    input::placeholder {
      color: #eee;
    }


  }

  .header-body {
    border-color: #555 !important;
    color: #eee !important;
  }

  .icon {
    .span {
      color: #eee !important;
    }

  }
  transition: background-color 500ms ease-in-out, color 1000ms ease-out;
}
