<div class="d-flex justify-content-center flex-column align-items-center my-4">
  <div class="my-2">
    <button class="btn btn-primary mr-1" (click)="drawMode = !drawMode">Switch to {{drawMode ? "Erase" : "Draw"}}</button>
    <button class="btn btn-primary ml-1" (click)="emitVrData()">View in VR</button>
  </div>
  <canvas
    #canvas
    [height]="getHeight()"
    [width]="getWidth()"
    (mousemove)="handleMouseMove($event)"
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp($event)"
    (mouseleave)="handleMouseUp($event)"
  >
  </canvas>
</div>
