
<div class="header-body">
<nav class=" navbar navbar-expand-lg navbar-light ">

 <!-- Company logo and Name -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/pexels-areous-ahmad-3175975.jpg" style="width: 30px; height: 30px;">
    Hash Homes
  </a>

  <!-- Hamburgar button for responsiveness -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Search bar along with dropdown containing type of property and budget -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="row">
          <input class="col-4 " type="text" placeholder="Location">
          <select class=" property-type col-3 dropdown ml-2">
            <option style="color: grey;">Property Type</option>
            <option>Apartment</option>
            <option>Office</option>
          </select>

          <select class=" property-budget col-3 dropdown ml-2" >
            <option style="color: grey;">Budget</option>
            <option>Below 10 Lac</option>
            <option>10 to 50 Lac</option>
            <option>Above 50 Lac</option>
          </select>
          <button class="col-1 btn-light ml-3">Search</button>
        </form>
        <ng-container *ngIf="!authService.loggedIn">
          <a routerLink="/auth" style="margin-left: 5%; color: grey;">Login</a>
          <a routerLink="/auth" style="margin-left: 2%; color: grey;">Sign up</a>
        </ng-container>

        <button
          class="btn btn-link"
          style="margin-left: 5%; color: grey;"
          *ngIf="authService.loggedIn"
          (click)="authService.logout()"
          >
          Logout
        </button>

  </div>
</nav>
</div>
